body {
	font-size: 18px;
}

.fullpage {
	width: 100vw;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Nova Flat', cursive;
}

h1 {
	font-size: 220%;
}


/* Canvas */

.canvas-interactive-wrapper {
	position: relative;
	height: 100vh;
	text-align: center;
	color: #585858;
}

.canvas-interactive-wrapper canvas {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.canvas-interactive-wrapper .wrapper-canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

.canvas-interactive-wrapper .wrapper-canvas a.active {
	border-color: #222;
}

.floating-text {
	position: absolute;
	top: 15px;
	left: 15px;
}

.word-list:first-letter {
	text-transform: uppercase;
	text-decoration: underline;
}


/* FLOATING DIFFICULTY ELEMENT */

.bottom-fixed {
	width: 100vw;
	position: fixed;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	padding: 10px;
}


#difficulty input {
	width: 50%;
	color: black;
	cursor: move;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.55px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #f0f0f0;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.55px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fdfdfd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #f0f0f0;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e3e3e3;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #f0f0f0;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.8px 0.8px 1.9px rgba(0, 0, 62, 0.67), 0px 0px 0.8px rgba(0, 0, 88, 0.67);
  border: 1.9px solid rgba(0, 30, 0, 0.57);
  width: 24px;
  border-radius: 50px;
  background: #ffffff;
  cursor: pointer;
  height: 6.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f0f0f0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #fdfdfd;
}



/* PROGRESS BAR */

#progress-bar {
	width: 100%;
	background-color: #f5f5f5;
}

#bar {
	width: 1%;
	height: 30px;
	background-color: #34b134;
	transition: width 100ms linear;
}


/* Elements*/

.game {
	display: none;
}

#game-text-input {
	padding: 15px;
	width: 100px;
}
/** BUTTON */
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #608ba8;
  padding: 12px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #79a1ba;
  text-decoration: none;
}


/* THROW TEXT */

.throwText {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: green;
	font-size: 100px;
	font-weight: bold;
	animation: bounce-destroy 600ms ease;
	animation-fill-mode: forwards;
	z-index: 3;
}

@keyframes bounce-destroy {
	0% {
		transform: translate(-50%, -50%) scale(0.6);
		opacity: 0;
	}
	40% {
		transform: translate(-50%, -50%) scale(1.1);
		opacity: 1;
	}
	70% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, -50%) scale(0.6);
		opacity: 0;
		top: 45%;
	}
}


/* ANIMATE ERROR */

.error-animation {
	animation: error 200ms ease;
	animation-fill-mode: forwards;
}

@keyframes error {
	0% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(0deg);
	}
	70% {
		transform: rotate(-15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}